@media only screen and (device-width: 768px) {
	.content, .login-content { 
		height: 550px;
	}

	.content h1 { 
		font-size: 100px;
	}

	.navbar {
		height: 80px;
		padding-left: 2%;
		margin-bottom: 2%;
	}

	.navbar-brand {
		margin-left: 2%;
	}

	.navbar-brand img {
		width: 50%;
	}

	#gridMenu { font-size: 30px; }

	.content-menu {
		height: 600px;
		width: 100%;
		overflow: auto;
		padding-bottom: 20px;
	}

	.login-content {
		width: 80%;
		overflow: auto;
		font-size: 30px;
		font-weight: bold;
	}

	.menu-list {
	   width: 250px;
	   height: 250px;
	   margin: 2%;
	}

	.list-group-item {
		font-weight: normal;
		font-size: 25px;
	}

	.list-group-item span{
		font-weight: bold;
		font-size: 30px;
	}
	.list-group-item i{
		font-weight: bold;
		font-size: 40px;
		margin-left: 5%;
	}

	.form-group {
		font-size: 100px;
		font-weight: bold;
	}

	.form-group input {
		font-size: 40px;
	}

	.login-content button {
		font-size: 40px;
		font-weight: bold;
		margin-top: 5%;
		padding: 3%;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
 	.content, .login-content { 
		height: 900px;
	}
	.navbar {
		height: 100px;
		padding-left: 2%;
		margin-bottom: 0%;
	}

	.navbar-brand {
		margin-left: 2%;
	}

	.navbar-brand img {
		width: 70%;
	}

	#gridMenu { font-size: 30px; }

	.content-menu {
		height: 800px;
		width: 100%;
		overflow: auto;
		padding-bottom: 50px;
	}

	.menu-list {
	   width: 250px;
	   height: 250px;
	   margin: 2%;
	}

	.login-content {
		width: 80%;
		overflow: auto;
		font-size: 30px;
		font-weight: bold;
	}

	.login-content img {
		width: 40%;
	}

	.form-group {
		font-size: 35px;
		font-weight: bold;
	}

	.form-group input {
		font-size: 40px;
	}

	.login-content button {
		font-size: 40px;
		font-weight: bold;
		margin-top: 5%;
		padding: 3%;
	}

	.modal-header-itemname {
		width: 70%;
		padding-left: 5%;
	}

	.modal-header-price {
		width: 30%;
		padding-right: 5%;
	}

	.modal-header-count1 {
		width: 100%;
		clear: both;
		display: none;
	}
	.modal-header-count2 {
		width: 100%;
		clear: both;
		display: block;
	}

	.sck-list
	{ clear: both; width: 96%; margin: 0 2%; margin-bottom: 3%;}

	.menu-select {
		width: 10%;
	}
		.menu-select-list { font-size: 14px; height: 75px;}

	.item-select {
		width: 50%;
		padding-bottom: 180px;
	}
		.item-list {
			width: 180px;
			height: 180px;
		}
	.payment {
		width: 40%;
	}
		.payment-order-list { height: 70%; }
		.payment-button .btn-success {
			width: 58%;
		}

		.payment-netamount {
			font-size: 30px;
			padding: 0;
			line-height: 45px;
		}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	.navbar {
		height: 80px;
		padding-left: 2%;
		margin-bottom: 0%;
	}

  .content, .login-content { 
		height: 600px;
		padding-top:0;
	}

	.content h1 {
		font-size: 80px;
		padding: 0;
		margin: 0;
		line-height: 80px;
	}

	.content-menu {
		height: 1000px;
		width: 100%;
		overflow: auto;
		padding-bottom: 20px;
	}

	.navbar-brand {
		margin-left: 2%;
	}

	.navbar-brand img {
		width: 60%;
	}

	#gridMenu { font-size: 50px; }

	.content-menu {
		height: 600px;
		width: 100%;
		overflow: auto;
		padding-bottom: 20px;
	}

	.menu-list {
	   width: 230px;
	   height: 230px;
	   margin: 2%;
	}

	.login-content {
		width: 80%;
		overflow: auto;
		font-weight: bold;
	}

	.login-content img {
		width: 17%;
		padding: 0;
		margin: 0;
	}

	.form-group {
		font-size: 45px;
		padding: 0;
		margin: 0;
	}

	.form-group input {
		font-size: 30px;
	}

	.login-content button {
		font-size: 40px;
		font-weight: bold;
		margin: 3% 0;
	}

	.payment-button .btn-success {
		width: 58%;
	}

	.payment-netamount {
		font-size: 30px;
		padding: 0;
		line-height: 45px;
	}

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:portrait) {
 	.content, .login-content { 
		height: 1000px;
	}
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:landscape) {
  .content, .login-content { 
		height: 1000px;
	}
}