/*iPhone 6 and iPhone 6+ portrait and landscape*/

@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {

html,body {
  height: 100%;
}

.navbar {
    height: 80px;
    padding-left: 5%;
    margin-bottom: 2%;
  }

  .navbar-brand {
    margin-left: 2%;
    width: 100%;
  }

  .navbar-brand img {
    width: 40%;
    float: left;
    margin-left: 35%;
  }

  #gridMenu { font-size: 30px; position: absolute;}

  #profile-image {
    width: 50%;
    margin-left: 20%;
  }

  #content-profile {
    margin: 1% 5%;
  }
  
.login-content {
  width: 90%;
  margin: auto;
  text-align: center;
  height: 600px;
  font-weight: bold;
}
  .login-content .form-group{
    text-align: left;
  }

  .login-content img {
    width: 50%;
  }


  .content, .login-content{
    height: 600in;
  }

  .content h1 {
    font-size: 70px;
    margin: 5%;
    font-weight: bold;
    line-height: 50px;
  }

  .menu-list {
    width: 150px;
    height: 150px;
    margin: 2%;
  }

  .menu-list h2 {
    font-size: 24px;
   }

  .form-group {
    font-size: 30px;
    line-height: 25px;
    margin: 0;
    padding-top: 0;
  }

  .form-group input {
    font-size: 30px;
    margin: 0;
  }

  .login-content button {
    font-size: 40px;
    font-weight: bold;
    margin-top: 5%;
    padding: 3%;
  }

  .content-menu {
    overflow: scroll;
    height: 460px;
    /*background: yellow;*/
    margin-top: 0;
  }

}
